@tailwind base;
@tailwind components;
@tailwind utilities;

body,
p,
span,
div,
main,
header,
footer {
	font-family: Vazir;
	@apply text-gray-700;
}

/* Custom elements */
nav ul li {
	@apply px-6 py-2 hover:text-gray-900 hover:underline transition-all duration-150;
}
#controls span {
	@apply rounded-full bg-green-500 shadow-md text-white p-2 cursor-pointer hover:shadow-xl;
}
main h4#section_title {
	margin: 0 auto;
}
main h4#section_title::after {
	content: '';
	display: inline-flex;
	margin-right: 1%;
	@apply bg-gray-300 h-1 w-11/12;
}
#socials a img {
	width: 24px;
}
